<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>WhatToDoNotes</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
<div th:replace="~{fragments.html :: navbar}"></div>

<div id="content">
    <form id="search-bar" method="get">
        <label>
            <input type="text" name="pattern" th:text="${pattern}">
            <input type="submit" value="Search" class="button">
        </label>
    </form>

    <div id="note-container" class="note" th:if="${session.user != null}" th:each="note : ${notes}">
        <div class="note-title" th:text="${note.getTitle()}"></div>
        <div class="note-content" th:text="${note.getContent()}"></div>
        <div class="note-status" th:text="${note.getStatus()}"></div>
        <div class="note-priority" th:text="${note.getPriority()}"></div>
        <a th:href="@{/note/edit/{id}(id=${note.id})}" th:if="${session.user != null}">Edytuj</a>
        <a href="/" th:if="${session.user != null}">Usuń</a>
    </div>
</div>

</body>
</html>